@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply dark:bg-neutral-800 text-black dark:text-slate-200;
  padding: 0;
  margin: 0;
  font-family: 'Urbanist', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply text-[20px] md:text-[30px];
}

.main-page {
  @apply flex flex-col min-h-screen justify-center items-center;
}

.magicO {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-blue-700 via-blue-500 to-emerald-500;
  @apply transition-[background-position] duration-500 bg-size-200 bg-pos-0 hover:bg-pos-100;
}

.title:hover .magicO {
  @apply bg-pos-100; 
}

.title {
  @apply font-black select-none;
  @apply text-[12vw] md:text-[10vw] lg:text-[110px];
  @apply -mb-[3vw] lg:-mb-[35px];
}

.subtitle {
  @apply text-center;
  @apply text-[4.5vw] md:text-[4vw] lg:text-[40px];
  @apply mb-3 font-semibold;
}